<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Creators (Admin)</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/styles/admin_tracks.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/music-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/music-16.png">
  </head>
  <body>
    <div class="header">
      <h3>Music Streaming Application</h3>
      <ul class="nav">
        <li class="nav-item">
          <form class="input-group" method="POST", action="{{ url_for('admin_search') }}">
            <input type="search" name="search" class="form-control" style="width: 120px; height:31px; margin:0px;" 
            placeholder="Search"/>
            <input type="submit" class="btn btn-info btn-sm" value="🔍" style="height: 31px; 
            padding: 0px; background-color: lightblue; margin-right:15px; width:21.23px;"/>
          </form>
        </li> |
        <li class="nav-item">
          <a href="{{ url_for('admin_dash') }}" class="btn btn-info btn-sm">Dashboard</a>
        </li> |
        <li class="nav-item">
          <a href="{{ url_for('manage_tracks') }}" class="btn btn-info btn-sm">Tracks</a>
        </li> |
        <li class="nav-item">
          <a href="{{ url_for('manage_albums') }}" class="btn btn-info btn-sm">Albums</a>
        </li> |
        <li class="nav-item">
          <a href="{{ url_for('index') }}" class="btn btn-info btn-sm">Logout</a>
        </li>
      </ul>
    </div>
    <hr />
    <!-- <div class="box"> -->
        <!-- <div class="overflow-auto" style="height: 63vh;"> -->
        {% for creator in creators | sort(attribute='username') %}
        <div class="box-s" style="margin-bottom: 15px;">
          <div class="header">
            <h5>{{ creator.username }}</h5>
            <ul class="nav">  
              <li class="nav-item">
                <a href="#" class="btn btn-info btn-sm" style="background: rgb(184, 235, 236)">Songs: {{creator.songs|length}}</a>
              </li> 
              <li class="nav-item">
                <a href="#" class="btn btn-info btn-sm" style="background: rgb(184, 235, 236)">Albums: {{creator.albums | length}} </a>
              </li>  
              <li class="nav-item">
                <a href="#" class="btn btn-info btn-sm" style="background: rgb(184, 235, 236)">Avg Rating: {{creator.avgRating}} </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('blacklist_creator', id=creator.id) }}" class="btn btn-info btn-sm" 
                style="background: {{'red' if creator.blacklisted else 'green'}}">Blacklist/Whitelist</a> 
              </li>
            </ul>
          </div>
        </div>
          {%endfor%}    
      <!-- </div> -->
      <!-- </div> -->
  </body>
</html>